<!-- incluindo o header na pagina inicial -->
<app-modal></app-modal>
<app-modal-aprovado-recusado></app-modal-aprovado-recusado>
<app-header></app-header>


<!-- sessão de listagem de pagamentos -->
<section  class="listagemDePagamentos">
    
    <div *ngFor="let dado of usuarios" class="listaDeUsuarios">
        <div class="imagem">
            <img class="imagemDoUsusario" [src]="dado.img" height="80%" alt="">
        </div>
          
        <div class="informacoes">
            <p id="nomeDoUsuario"  >{{dado.name}}</p>
            <span>
                <p id="id">ID:{{dado.id}}</p>
                <p id="Username">Username: {{dado.username}}</p>
            </span>
        </div> 
        <div class="botao">
            <button (click)="showModalBtn(dado)">
                Pagar
            </button>
        </div>
            
    </div>
</section>

<!-- incluindo o footer na pagina inicial -->
<app-footer></app-footer>